<?xml version="1.0"?>
<!--
The MIT License (MIT)

Copyright (c) 2020 Raffaello Bonghi

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
<robot name="sim_panther" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="name_space"  default="/panther" /> 
  <!-- Arguments -->
  <xacro:arg name="zed_model"    default="zed2"/> <!-- Follow zed_repository -->
  <xacro:arg name="jetson"       default="xavier"/> <!-- options: tx, xavier -->
  <xacro:arg name="motor_board"  default="roboteq"/> <!-- options: unav, roboteq -->
  <xacro:arg name="ssd"          default="false"/>
  <xacro:arg name="ultrasounds"  default="false"/>
  
  <!-- Reference: https://www.stereolabs.com/
       depth_camera:
        - left
        - right
       resolution:
        - HD2K
        - HD1080
        - HD720
        - VGA
       -->
  <xacro:arg name="camera_name"   default="zed"/>
  <xacro:arg name="depth_camera"  default="left"/>
  <xacro:arg name="resolution"    default="HD720"/>

  <xacro:include filename="$(find panther_description)/urdf/robot.urdf.xacro" />
  <xacro:include filename="$(find panther_simulation)/urdf/materials.gazebo.xacro" />
  <!-- sensors -->
  <xacro:include filename="$(find panther_simulation)/urdf/zed.gazebo.xacro" />
  <xacro:include filename="$(find panther_simulation)/urdf/lidar.gazebo.xacro" />
  <xacro:include filename="$(find panther_simulation)/urdf/imu.gazebo.xacro" />

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>$(arg name_space)</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <!-- Color materials for Gazebo -->
  <xacro:materials_gazebo />
  <!-- Panther robot -->
  <xacro:panther
              zed_model="$(arg zed_model)"
              jetson="$(arg jetson)"
              motor_board="$(arg motor_board)"
              ssd="$(arg ssd)"
              ultrasounds="$(arg ultrasounds)" />
  <!-- ZED emulation -->
  <xacro:zed_camera_gazebo camera_name="$(arg camera_name)" camera_model="$(arg zed_model)"
                            depth_camera="$(arg depth_camera)" resolution="$(arg resolution)" />
  <!-- LIDAR emulation -->
  <xacro:lidar_gazebo />
  <!-- IMU emulation -->
  <xacro:imu_gazebo name="razor" frame="base_imu_link" />
</robot>
