<?xml version="1.0"?>
<!--
Copyright (C) 2020, Raffaello Bonghi <raffaello@rnext.it>
All rights reserved

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright 
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. Neither the name of the copyright holder nor the names of its 
   contributors may be used to endorse or promote products derived 
   from this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND 
CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, 
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS 
FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; 
OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>

  <!-- Default is not required any namespace to define Panther.
       For mutiple ROS simulations is suggest to add a namespace
       -->
  <arg name="namespace"                    default=""/>
  <arg name="localization"                 default="true"/>
  <arg name="mapping"                      default="true"/>
  <arg name="control"                      default="true"/>
  <arg name="web"                          default="true"/>
  <!-- Output: {screen, log} -->
  <arg name="output"                       default="log" />
  
  <!-- ZED Camer Reference: https://www.stereolabs.com/ -->
  <arg name="camera_name"                  default="zed"/>
  <!-- depth_camera: {left, right} -->
  <arg name="depth_camera"                 default="left"/>
  <!-- resolution: {HD2K, HD1080, HD720, VGA} -->
  <arg name="resolution"                   default="HD720"/>

  <!-- Send the Panther Robot URDF/XACRO to param server -->
  <param name="robot_description"
          command="$(find xacro)/xacro '$(find panther_gazebo)/urdf/panther.gazebo.xacro'
              name_space:=/$(arg namespace)
              camera_name:=$(arg camera_name)
              depth_camera:=$(arg depth_camera)
              resolution:=$(arg resolution)" />

  <rosparam command="load" file="$(find panther_gazebo)/config/ros_control.yaml" />
  <!-- Activate node to propagate the joint state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="$(arg output)"
        args="-unpause -urdf -param robot_description -model Panther"/>

  <!-- Load Panther common nodes -->
  <include file="$(find panther_common)/launch/common.launch">
    <arg name="localization" value="$(arg localization)"/>
    <arg name="mapping"      value="$(arg mapping)"/>
    <arg name="control"      value="$(arg control)"/>
    <arg name="web"          value="$(arg web)"/>
  </include>
  
  <!-- Load RTABMAP odometry and remap to zed topic -->
  <include file="$(find panther_localization)/launch/rtabmap_odom_rgbd.launch">
    <arg name="camera"       value="$(arg camera_name)"/>
    <arg name="output"       value="$(arg output)"/>
  </include>

</launch>
